.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summonerNameForm {
  display: flex;
  flex-direction: column;
}

.summonerNameItem {
  margin: .2vh;
}

.match {
  margin: 2vh;
}